{% extends("_base") %}

{% block title %}
	Bitcoin Transaction #
{% endblock %}

{% block main %}
	<h1>Block height/#hash</h1>
	<table class="uk-table uk-table-striped">
		<thead>
			<tr>
				<th>区块信息</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>区块哈希</td>
				<td>000000000000000002af8890df67d62c5a71f2db09649fb13a907b0df6d5b32a</td>
			</tr>
			<tr>
				<td>上一个区块</td>
				<td>000000000000000002af8890df67d62c5a71f2db09649fb13a907b0df6d5b32a</td>
			</tr>
			<tr>
				<td>下一个区块</td>
				<td>000000000000000002af8890df67d62c5a71f2db09649fb13a907b0df6d5b32a</td>
			</tr>
			<tr>
				<td>Merkle Root</td>
				<td>000000000000000002af8890df67d62c5a71f2db09649fb13a907b0df6d5b32a</td>
			</tr>
			<tr>
				<td>创建时间</td>
				<td>2017-01-01 04:58:50</td>
			</tr>
			<tr>
				<td>高度</td>
				<td>446022</td>
			</tr>
			<tr>
				<td>区块大小</td>
				<td>216.9 kB</td>
			</tr>
			<tr>
				<td>交易额</td>
				<td><i class="uk-icon-bitcoin"></i> 512.5</td>
			</tr>
			<tr>
				<td>计算难度</td>
				<td>317,688,400,354</td>
			</tr>
			<tr>
				<td>区块奖励</td>
				<td><i class="uk-icon-bitcoin"></i> 12.5</td>
			</tr>
			<tr>
				<td>交易数量</td>
				<td>522</td>
			</tr>
		</tbody>
	</table>
	<h1>交易</h1>
	<hr>
	<table class="uk-table">
		<thead>
			<tr>
				<th style="width:50%;"><a href="/tx/xx">000000000000000002af8890df67d62c5a71f2db09649fb13a907b0df6d5b32a</a></td>
				<th style="width:50%; text-align:right;">2017-01-01 04:58:50</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Input</td>
				<td>Output</td>
			</tr>
			<tr>
				<td>
					<table class="uk-table">
						<tbody>
							<tr>
								<td>f67d62c5a71f2db09649fb13a907b0 # 0</td>
								<td><i class="uk-icon-bitcoin"></i> 12.5</td>
							</tr>
							<tr>
								<td>f67d62c5a71f2db09649fb13a907b0 # 0</td>
								<td><i class="uk-icon-bitcoin"></i> 1.5</td>
							</tr>
						</tbody>
					</table>
				</td>
				<td>
					<table class="uk-table">
						<tbody>
							<tr>
								<td>f67d62c5a71f2db09649fb13a907b0 # 0</td>
								<td><i class="uk-icon-bitcoin"></i> 12.5</td>
							</tr>
							<tr>
								<td>f67d62c5a71f2db09649fb13a907b0 # 0</td>
								<td><i class="uk-icon-bitcoin"></i> 1.5</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
	<hr>
	<table class="uk-table">
		<thead>
			<tr>
				<th style="width:50%;"><a href="/tx/xx">000000000000000002af8890df67d62c5a71f2db09649fb13a907b0df6d5b32a</a></td>
				<th style="width:50%; text-align:right;">2017-01-01 04:58:50</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Input</td>
				<td>Output</td>
			</tr>
			<tr>
				<td>
					<table class="uk-table">
						<tbody>
							<tr>
								<td>f67d62c5a71f2db09649fb13a907b0 # 0</td>
								<td><i class="uk-icon-bitcoin"></i> 12.5</td>
							</tr>
							<tr>
								<td>f67d62c5a71f2db09649fb13a907b0 # 0</td>
								<td><i class="uk-icon-bitcoin"></i> 1.5</td>
							</tr>
						</tbody>
					</table>
				</td>
				<td>
					<table class="uk-table">
						<tbody>
							<tr>
								<td>f67d62c5a71f2db09649fb13a907b0 # 0</td>
								<td><i class="uk-icon-bitcoin"></i> 12.5</td>
							</tr>
							<tr>
								<td>f67d62c5a71f2db09649fb13a907b0 # 0</td>
								<td><i class="uk-icon-bitcoin"></i> 1.5</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
	<hr>
	<table class="uk-table">
		<thead>
			<tr>
				<th style="width:50%;"><a href="/tx/xx">000000000000000002af8890df67d62c5a71f2db09649fb13a907b0df6d5b32a</a></td>
				<th style="width:50%; text-align:right;">2017-01-01 04:58:50</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Input</td>
				<td>Output</td>
			</tr>
			<tr>
				<td>
					<table class="uk-table">
						<tbody>
							<tr>
								<td>f67d62c5a71f2db09649fb13a907b0 # 0</td>
								<td><i class="uk-icon-bitcoin"></i> 12.5</td>
							</tr>
							<tr>
								<td>f67d62c5a71f2db09649fb13a907b0 # 0</td>
								<td><i class="uk-icon-bitcoin"></i> 1.5</td>
							</tr>
						</tbody>
					</table>
				</td>
				<td>
					<table class="uk-table">
						<tbody>
							<tr>
								<td>f67d62c5a71f2db09649fb13a907b0 # 0</td>
								<td><i class="uk-icon-bitcoin"></i> 12.5</td>
							</tr>
							<tr>
								<td>f67d62c5a71f2db09649fb13a907b0 # 0</td>
								<td><i class="uk-icon-bitcoin"></i> 1.5</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
{% endblock %}
